<h1>Live Houses</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @live_houses.each do |live_house| %>
    <tr>
      <td><%= live_house.name %></td>
      <td><%= link_to 'Show', live_house %></td>
      <td><%= link_to 'Edit', edit_live_house_path(live_house) %></td>
      <td><%= link_to 'Destroy', live_house, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Live House', new_live_house_path %>
