<!DOCTYPE html>
<html>
<head>
  <title>LiveSchedule</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <div class="header">
    <div class="header-logo">Your Live Schedule</div>
    <div class="header-list">
      <% if @current_user %>
      <ul>
        <li><%= link_to(@current_user.name, "/users/#{@current_user.id}") %></li>
        <li><%= link_to("ユーザー一覧", "/users") %></li>
        <li><%= link_to("ライブハウス新規登録", "/live_houses/new") %></li>
        <li><%= link_to("ライブハウス一覧", "/live_houses") %></li>
        <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>
      <% else %>
        <li><%= link_to("HOME", "/") %></li>
        <li><%= link_to("新規登録", "/users") %></li>
        <li><%= link_to("ログイン", "/login") %></li>
      <% end %>
      </ul>
    </div>
  </div>
</header>
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="main">
  <%= yield %>
</div>
<div class="footer">
  <p>Enjoy Your Music Life!!</p>
</div>
</body>
</html>
